

.form-check {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
        height: 28px;
        width: 28px;
        border-radius: 50px;
        background-image: url(../images/unchecked.png);
        background-size: cover;
        background-position: center;
        top: 12px ;
        left: 8px;
    }

    input:checked {
        background-color: #2196F3;
    }
    span {       
        list-style: none;
        font-size: 17px;
        padding: 12px 8px 12px 50px;
        user-select: none;
        position: relative;
    }

    button {
        border: none;
        outline: none;
        padding: 16px 35px;
        color:#fff;
        font-size: 12px;
        cursor: pointer;
        border-radius: 40px;
        margin-bottom: 20px;
        margin-left: auto;
        background-color: rgb(70, 78, 126);
    }
}



